DATABASE_URL="postgresql://postgres:15%2F08%2F99Genaro123@HOST-POOLER:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.PROJECT_REF:15%2F08%2F99Genaro123@aws-0-region.pooler.supabase.com:5432/postgres"

SESSION_SECRET="15%2F08%2F99Genaro123"
APP_NAME="Conteo de Flores"