DATABASE_URL="postgresql://postgres:15%2F08%2F99Genaro123@HOST-POOLER/conteodeflores?sslmode=require&connect_timeout=15"
DIRECT_URL="postgresql://postgres:15%2F08%2F99Genaro123@HOST/conteodeflores?sslmode=require&connect_timeout=15"

SESSION_SECRET="15%2F08%2F99Genaro123"
APP_NAME="Conteo de Flores"